body {
  background-color: #020617;
  font-family: "Italiana", Georgia, 'Times New Roman', Times, serif;
  color: #E2E8F0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding: 24px;
}

header, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header h1 {
  font-size: 32px;
}

header p, footer p {
  font-size: 18px;
}

main, .chart-wrapper {
  flex: 1;
  width: 100%;
  color: #E2E8F0;
}

main .details {
  font-family: sans-serif;
  flex: 1;
  margin-top: 40px;
}

.details ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "\2192";
  margin-right: 8px; 
  font-size: 1.5em; 
  color: #E2E8F0; 
}

ul li a {
  color: #E2E8F0;
  text-underline-offset: 4px;
}

.chart-wrapper {
  background-color: #1E293B;
  padding: 16px;
  border-radius: 24px;
}